@mixin bold {
  font-size: 16px;
  font-weight: bold;
}
@mixin bold-sm {
  font-size: 14px;
  font-weight: bold;
}
@mixin regular {
  font-size: 16px;
}
@mixin regular-sm {
  font-size: 14px;
}
@mixin regular-xs {
  font-size: 12px;
}

@mixin ellipsis($clamp) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
}